{% extends "admin/admin-base.html" %}
{% block main %}<div class="container"><div class="post">
		<div class="row">
			<div class="col-lg-12"><div class="page-header">
						<h1>Posts</h1>
					</div>
					<div class="content"><div class="response">
		                            </div><a href="{{ url_for('admin.new_post') }}" class="response btn btn-primary">Add new</a>
						<table class="table table-striped">
							<tr>
								<th>Title</th>
								<th>Post Date</th>
								<th>Action</th>
							</tr>
                            {% for p in posts.items %}
                            <tr>
								<td><a title="Preview" href="http://z3lion.com/article/{{ p.id }}" data-target="_blank">{{ p.post_title }}</a></td>
								<td>{{ p.post_date.strftime('%b %d %Y') }}</td>
								<td><a title="Edit" href="./post_edit/{{ p.id }}" class="icon-edit-sign bigger icon"></a>&nbsp;&nbsp;<a title="Hidden" href="./post_delete/{{ p.id }}" class="icon-remove-sign bigger icon"></a></td>
							</tr>
                            {% endfor %}
                        </table>
					</div></div>
                        </div>
                    </div>
						<ul class="pagination">

                        <li {% if not posts.has_prev %} class="disabled" {% endif %}><a href="{{ url_for('admin.posts_list', pageid = posts.prev_num) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
						  {% for i in pagination %}

						    {% if i==pageid %}
                                <li class="active"><a href="{{ url_for('admin.posts_list', pageid = i) }}">{{ i }}</a></li>

						    {% else %}
						      <li><span class=ellipsis><a href="{{ url_for('admin.posts_list', pageid = i) }}">{{ i }}</a></span></li>
						    {% endif %}
						  {% endfor %}
						  {% if pagination.has_next %}
						    <li><a href="{{ url_for_other_page(pagination.page + 1)
						      }}">&raquo;</a></li>
						  {% endif %}
                        <li {% if not posts.has_next %} class="disabled" {% endif %}><a href="{{ url_for('admin.posts_list', pageid = posts.next_num) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                        </ul>
		</div><footer>
	<div class="container">
		<p><a data-target="_blank" href="https://github.com/dmaslov/flask-blog">Source code</a> is licensed under the <a data-target="_blank" href="http://choosealicense.com/licenses/mit">MIT</a> license.</p>
	</div>
        
</footer>
<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script><script src="/static/js/main.js"></script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45932292-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}