{% extends "base.html" %}
{% block main %}

    <div class="container">
    <div class="row">
      <div class="col-md-9">
        <nav>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
            <li role="presentation"><a href="/archives"><i class="icon-book"></i>&nbsp;Archives</a></li>
            <li role="presentation"><a href="/about"><i class="icon-user-md"></i>&nbsp;About</a></li>
          </ul>
        </nav>
        <article>
          <div class="title">
            <h2>{{ post.post_title }}</h2>
          </div>
          <ul class="post-meta">
            <li><i class="icon-reorder"></i>&nbsp;<a href="/category/{{ post.category_name }}">{{ post.category_name }}</a></li>
            <li><i class="icon-time"></i>&nbsp;{{ post.post_date.strftime('%B %d %Y') }}</li>
            <li><i class="icon-eye-open"></i>&nbsp;{{ post.post_view_count }}</li>
            <li><i class="icon-comments-alt"></i>&nbsp;<a href="/article/{{ post.id }}" ><span class="ds-thread-count" data-thread-key="{{ post.id }}" data-count-type="comments"></span></a></li>
            <!--<li><a rel="nofollow" href="#">Read More <i class="icon-double-angle-right"></i></a></li>-->
          </ul>
          <p>
            <hr />
            {{ post.post_content |safe  }}
           </p>
      <hr class="bs-docs-separator">
	  <h1>Comments</h1>

	  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.post_title }}" data-url="http://blog.z3lion.com/article/{{ post.id }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"zend"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

        </article>
        
      </div><!--9 END-->
    
      <div class="col-md-3">
          {% include "slider.html" %}
      </div><!--3 END-->
    </div><!--ROW END-->
    </div>

{% endblock %}