<!DOCTYPE html>
<html lang="en"><head>
    <title>ZenBlog Admin</title>
	<meta name="description" content="demo of simple Flask Blog ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	<link href="/recent_feed" rel="alternate" title="Recent Changes" type="application/atom+xml">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/mdmagick.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/static/img/favicon.png"><link href="/static/css/main.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<script src="/static/bower_components/platform/platform.js"></script>
	<script src="/static/bower_components/polymer/polymer.js"></script>
	<link rel="import" href="/static/bower_components/github-gist/github-gist.html">
</head><body>
		<div id="wrapper"><div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a href="/admin" class="navbar-brand">Home</a></li>
		
			<li><a href="/logout">Logout</a></li>
		
		</ul>

		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav">
		
			<!--<li><a href="/users">Users</a></li>-->
			<li><a href="/posts_list">Posts</a></li>
			<li><a href="/newpost">New post</a></li>
			<!--<li><a href="/settings">Settings</a></li>-->
		
		</ul>
		<form class="navbar-form navbar-right search-form" method="get" action="/admin_search">
            <input type="text" name="keywords" class="form-control col-lg-8" placeholder="Search">
			<input name="_csrf_token" type="hidden" value="EUGFYT">
		</form>
	</div>
</div>
            {% block main %}{% endblock %}

	</body>
</html>