<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" media="screen" />
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/me.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'zend3'; // replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] ||
          document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());</script>
  </head>

  <body>
    <div class="well">
      <div class="container">
        <div class="social">
          <h1>Zend's Blog</h1>
          <ul>
            <li><a href="#" target="_blank"><img src="/static/images/iconfont-RSS.png"  width="16" height="16" alt="rss" /></a></li>
            <li><a href="Mailto:i@z3lion.com" target="_blank"><img src="/static/images/iconfont-youjian.png"  width="20" height="20" alt="email" /></a></li>
            <li><a href="http://www.weibo.com/u/1745382967" target="_blank"><img src="/static/images/iconfont-weibo.png"  width="20" height="20" alt="weibo" /></a></li>
          </ul>
        </div>
      </div>
    </div>
        {% block main %}{% endblock %}
    </div>
 </body>
</html>