{% extends "base.html" %}
{% block main %}
<div id="page-content">

<div class="page-title-inline">
	<h1>Categories
</div>
<div class="cont932">
	<hr style="margin-top: 0;">
	<div class="contentarea">
		<div class="ca-center ca-center20t nobg">
			<div class="journal-tags" id="teaminfo">

    {% for c in categorys %}
        <div class="journal-cat-box">

            <a href="/category#{{ c.category_name }}" title="{{ c.category_name }}">
            {{ c.category_name }}

            </a>
        </div>
    {% endfor %}
            </div>


		</div>
        <div class="clearboth"></div>
			<hr>
    <div>
         {% for c in category_has_posts %}
             {% if c %}
            <div  class="team-member">
			  <h2 id="{{ c[0].category_name }}">{{ c[0].category_name }}</h2>
             <ul>
              {% for m  in c %}
                        <li><a href="/article/{{ m.id }}">{{ m.post_title }}</a></li>
                  {% endfor %}
			  </ul>
             </div>
             {% endif %}
            {% endfor %}
    </div>
</div>
</div>
</div>


{% endblock %}