{% extends "base.html" %}
{% block main %}
<div id="page-content">

<div id="page-content">
	<div class="cont932">
	<div id="journal-articles-block">
		<div class="journal-article">
			<div class="journal-post-info">
				<div class="journal-cat-box">


				<div class="journal-cat-box">

<a href="/category#{{ post.category_name }}" title="{{ post.category_name }}">
	{{ post.category_name }}

</a>
</div>

				</div>
			</div>
			<div class="journal-body">
				<h1 class="journal-title">{{ post.post_title | safe }}<span class="author">by Zend</span>
				</h1>
                <br>
				<span class="the-article">
				{{ post.post_content | safe}}
				</span>
				<div class="journal-date">Published {{ post.post_date.strftime('%d %B %Y') }}</div>
				<div class="journal-tags">


        {% for t in post_tags %}
		<a class="tag-cont" href="/tag#{{ t.tag_name }}">
			<div class="tag-l"></div>
			<div class="tag-c">{{ t.tag_name }}</div>
			<div class="tag-r"></div>
		</a>
        {% endfor %}


				</div>
			</div>
		</div>
		<div class="clearboth"></div>
	</div>
</div>
	<div class="clearboth"></div>



  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.post_title }}" data-url="http://z3lion.com/article/{{ post.id }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"zend"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->



	<div class="clearboth"></div>
</div>

			</div>

{% endblock %}