{% extends "base.html" %}
{% block main %}<div class="container">
    <div class="row">
        <div class="col-md-9">
            <nav>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
            <li role="presentation"><a href="/archives"><i class="icon-book"></i>&nbsp;Archives</a></li>
            <li role="presentation"><a href="/about"><i class="icon-user-md"></i>&nbsp;About</a></li>
          </ul>
        </nav>
    {% for p in posts %}
    <article>
          <div class="title">
            <h3><a href="/article/{{ p.id }}">{{ p.post_title }}</a></h3>
          </div>

          <p>
                {{ p.post_excerpt |safe}}
          </p>
          <ul class="post-meta">
            <li><i class="icon-reorder"></i>&nbsp;<a href="/category/{{ p.category_name }}">{{ p.category_name }}</a></li>
            <li><i class="icon-time"></i>&nbsp;{{ p.post_date.strftime('%B %d %Y') }}</li>
            <li><i class="icon-eye-open"></i>&nbsp;{{ p.post_view_count }}</li>
            <li><i class="icon-comments-alt"></i>&nbsp;<a href="/article/{{ p.id }}#disqus_thread">Comments</a></li>
            <!--<li><a rel="nofollow" href="#" data-toggle="modal" data-target="#myModal"><i class="icon-heart"></i>&nbsp;{{ p.post_love_count }}</a></li>-->
            <!--<li><a rel="nofollow" href="#">Read More <i class="icon-double-angle-right"></i></a></li>-->
          </ul>
          <hr class="bs-docs-separator">
    </article>
    {% endfor %}

        </div><!--9 END-->
        <div class="col-md-3">
            {% include "slider.html" %}
        </div><!--3 END-->
    </div><!--ROW END-->

{% endblock %}