{% extends "index/base.html" %}
{% block main %}
<div id="page-content">

<div class="page-title-inline">
	<h1>Archive
</div>
<div class="cont932">
	<hr style="margin-top: 0;">
	<div class="contentarea">
		<div class="ca-center ca-center20t nobg">

            {% for y in archives %}
			  <div  class="team-member">

                  <h2>{{ y }}</h2>
                {% for m in archives[y] %}
                    {% if archives[y][m] %}
                  <h3>{{ m }}</h3>
			  <ul>
                {% for p in archives[y][m] %}
			    <li><span>{{ p.post_date.strftime('%b %d %Y') }}</span> &raquo; <a href="/article/{{ p.id }}">{{ p.post_title }}</a></li>

				  </ul>
                {% endfor %}
                    {% endif %}
                {% endfor %}

              </div>
            {% endfor %}

</div>
<div class="clearboth"></div>
</div>
</div>
</div>


{% endblock %}