{% extends "index/base.html" %}
{% block main %}
			<div id="page-content">

<div class="page-title-inline">

	<h1>Zend's Blog</h1>
	<h2>Home</h2>

</div>
<div class="cont932">
	<hr style="margin-top: 0;">
	<div id="journal-articles-block">
    {% for p in posts.items %}
		<div class="journal-article">
			<div class="journal-post-info">
				<div class="journal-cat-box">
            <a href="/category/{{ p.category_name }}/" title="{{ p.category_name }}">
                {{ p.category_name }}

            </a>
</div>

			</div>
			<div class="journal-body">
				<h1 class="journal-title"><a href="/article/{{ p.id }}">{{ p.post_title }}</a><span class="author">by {{ p.post_date.strftime('%B %d %Y') }}</span></h1>

				<span class="teaser">
                    {{ p.post_excerpt |safe}}
				</span>
				<span class="readmore"><a href="/article/{{ p.id }}">Read More</a></span>
			</div>
		</div>
		<div class="clearboth"></div>
{% endfor %}
    </div>
    {% if posts.has_next %}
<div id="journal-arrows-cont">
			<a href="/page/{{ posts.next_num }}" class="journal-arrow ja-forward"></a>
	</div>

	<div class="clearboth"></div>
	<div id="journal-loadmore">Load More…</div>
    {% endif %}
    </div>
    </div>

{% endblock %}
